//
   Created by Виктор on 9.10.2014 г..
div.container
    div.well
        table.table.table-striped.table-hover
            thead
                tr
                    th Name
                    th Desription
                    th Colors
                    th Available Quantity
                    th Price
            tbody
                each product in products
                    tr
                        td= product.name
                        td= product.description
                        td
                            each color in product.colors
                                span= color
                                br
                        td= product.quantity
                        td= product.price
//div.container
    div.well
        table.table.table-striped.table-hover
            thead
                tr
                    th #
                    th Name
                    th Desription
                    th Colors
                    th Available Quantity
                    th Price
            tbody
                tr
                    td 1
                    td Code monkey t-shirt
                    td Code Monkey
                    td Green, Yellow, Red
                    td 1
                    td 12
